<!-- menu -->
<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper" id="titulo">
      <div class="container">
        <a class="brand-logo">Controle de Cursos</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/cadastrocursos/0" class="flow-text">Novo Curso</a></li>
        </ul>
      </div>
    </div>
    <div class="header-ext">
    </div>
    <div class="header-linha">
    </div>
  </nav>


  <ul class="sidenav" id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
        </div>
      </div>
    </div>
    <li><a routerLink="/cadastrocursos/0" class="flow-text">Novo Curso</a></li>
  </ul>
</div>


<!-- fim menu -->
