.card-head {
    padding-top: 1px;
    padding-right: 24px;
    padding-bottom: 1px;
    padding-left: 24px;
    border-radius: 0 0 2px 2px;
    background-color: #F8EEE7;
}

.valor-destaque {
  background-color: #F4DECB;
  border-top: 5px solid rgba(11, 2, 2, 0.2);
  position: relative;
  padding: 0px 24px;
  font-size: 25px;
  font-weight: bold;
 }

 #espaco {
  height: 0px;
 }

 p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  text-indent: 3ch;
}





