<div class="row">
  <div class="col s12 m9 offset-m2">
    <table class="striped">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Instituição</th>
          <th>Categoria</th>
          <th>Início</th>
          <th>Fim</th>
          <th>Horas</th>
          <th>Investimento</th>
          <th hidden>ID</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let c of cursos">
          <td>{{c.descricao | uppercase}}</td>
          <td>{{c.instituicao | uppercase}}</td>
          <td>{{c.categoria | uppercase}}</td>
          <td>{{c.data_inicial}}</td>
          <td>{{c.data_final}}</td>
          <td>{{c.duracao}}</td>
          <td>{{c.investimento}}</td>
          <td hidden>{{c.id}}</td>
          <td class="right">
            <a  class="material-icons my-icon-size" style="cursor: pointer;" routerLink="/cadastrocursos/{{c.id}}">edit</a>
          </td>
          <td>
            <a class="material-icons my-icon-size" style="cursor: pointer;" (click)="onDelete(c.id)">delete</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
