<div class="row">
  <div class="col s12 m9 offset-m2">
    <table class="striped">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Instituição</th>
          <th>Categoria</th>
          <th>Início</th>
          <th>Fim</th>
          <th>Horas</th>
          <th>Investimento</th>
          <th hidden>ID</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Tecnologia em Desenvolvimento de Sistemas</td>
          <td>UniSalesiano</td>
          <td>Superior</td>
          <td>02/2003</td>
          <td>12/2005</td>
          <td>590</td>
          <td>40000</td>
          <td hidden>1</td>
          <td><a routerLink="/cadastrocursos/5">Editar</a></td>
          <td>Excluir</td>
        </tr>
        <tr>
          <td>Tecnologia em Desenvolvimento de Sistemas</td>
          <td>UniSalesiano</td>
          <td>Superior</td>
          <td>02/2003</td>
          <td>12/2005</td>
          <td>590</td>
          <td>40000</td>
          <td hidden>1</td>
          <td><a routerLink="/cadastrocursos/4">Editar</a></td>
          <td>Excluir</td>
        </tr>
        <tr>
          <td>Tecnologia em Desenvolvimento de Sistemas</td>
          <td>UniSalesiano</td>
          <td>Superior</td>
          <td>02/2003</td>
          <td>12/2005</td>
          <td>590</td>
          <td>40000</td>
          <td hidden>1</td>
          <td><a routerLink="/cadastrocursos/3">Editar</a></td>
          <td>Excluir</td>
        </tr>
        <tr>
          <td>Tecnologia em Desenvolvimento de Sistemas</td>
          <td>UniSalesiano</td>
          <td>Superior</td>
          <td>02/2003</td>
          <td>12/2005</td>
          <td>590</td>
          <td>40000</td>
          <td hidden>1</td>
          <td><a routerLink="/cadastrocursos/2">Editar</a></td>
          <td>Excluir</td>
        </tr>
        <tr>
          <td>Tecnologia em Desenvolvimento de Sistemas</td>
          <td>UniSalesiano</td>
          <td>Superior</td>
          <td>02/2003</td>
          <td>12/2005</td>
          <td>590</td>
          <td>40000</td>
          <td hidden>1</td>
          <td><a routerLink="/cadastrocursos/1">Editar</a></td>
          <td>Excluir</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
