<div
  id="msg_cadastro"
  class="card-panel white-text"
  [class.red]="!this.isSuccess"
  [class.green]="this.isSuccess"
  *ngIf="this.isShowMessage"
>
{{this.message}}
</div>

<div *ngIf="!this.isSuccess" >
<br>
<h5 id ='textocentralizado'>CADASTRO DE CURSOS</h5>
<h6 id ='textocentralizado'>ENTRE COM OS DADOS DO CURSO</h6>
<br>
<br>

<div id="interna">
  <div class="col s12">
    <div id="msgs_cadastro" class="card=panel red white-text" style="display: none"></div>
  </div>
<div  class="row">
  <form class="col s12" #form="ngForm" (ngSubmit)="onSubmit()" ngControler="form">
    <div class="row">
      <div class="input-field col s12">
        <input id="input-descricao"
               name="input-descricao"
               type="text"
               [(ngModel)]="this.curso.descricao"
               class="validate"
               #descricao="ngModel"
               required/>
        <label for="input-descricao" class="active">Descrição do Curso *</label>
        <div class="red-text" [hidden]="descricao.valid || descricao.untouched">
          O campo descrição é obrigatório
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="input-instituicao"
               name="input-instituicao"
               type="text"
               [(ngModel)]="this.curso.instituicao"
               class="validate"
               #instituicao="ngModel"
               required/>
        <label for="input-instituicao" class="active">Instituição</label>
        <div class="red-text" [hidden]="instituicao.valid || instituicao.untouched">
          O campo instituição é obrigatório
        </div>
      </div>
    </div>

  <div class="row" >
      <div class="col s12">
      <label for="categorias" class="active">Categoria *</label>
       <select
       class="validate"
      [(ngModel)]="this.curso.categoria"
      #categoria="ngModel"
      #categoriaSelect
      required
      id="categoriaSelect"
      name="categoriaSelect">
      <option ngValue="" disabled selected>Selecione a opção</option>
      <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria}}</option>
      </select>
      <div class="red-text" [hidden]="categoria.valid || categoria.untouched">
        O campo categoria é obrigatório
      </div>
  </div>
    </div>

   <div class="row">
      <div class="input-field col s4">
        <input id="input_inicio_curso"
        name="input_inicio_curso"
        type="text"
        [(ngModel)]="this.curso.data_inicial"
        class="validate"
        pattern="((0[1-9]|1[0-2])/[12]\d{3})"
        #inicio="ngModel"
        [mask]="mask_date"
        [dropSpecialCharacters]="false"
        required/>
        <label for="input_inicio_curso" class="active">Inicio</label>
        <div class="red-text" [hidden]="inicio.valid || inicio.untouched ">
          O campo inicio é obrigatório
        </div>
      </div>

      <div class="input-field col s4">
      </div>
      <div class="input-field col s4">
        <input id="input_fim_curso"
        name="input_fim_curso"
        type="text"
        [mask]="mask_date"
        [dropSpecialCharacters]="false"
        [(ngModel)]="this.curso.data_final"
        class="validate"
        pattern="((0[1-9]|1[0-2])/[12]\d{3})"
        #fim="ngModel"
        required/>
        <label for="input_fim_curso" class="active">Fim</label>
        <div class="red-text" [hidden]="fim.valid || fim.untouched ">
          O campo fim é obrigatório
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s4">
        <input id="input_horas"
               type="text"
               name="input_horas"
               [(ngModel)]="this.curso.duracao"
               #horas="ngModel"
               class="validate"
               pattern="[0-9]+"
               required >
        <label for="input_horas" class="active">Duração (horas)</label>
        <div class="red-text" [hidden]="horas.valid || horas.untouched || horas.dirty">
          O campo duração é obrigatório
        </div>
      </div>
      <div class="input-field col s4">
      </div>

      <div class="input-field col s4">
        <input type="text"
        id="input_investimento"
        name="input_investimento"
        mask="separator.2"
        class="validate"
        [thousandSeparator]="'.'"
        [decimalMarker]="','"
        prefix="R$ "
        [dropSpecialCharacters]="true"
        [showMaskTyped]="false"
        [(ngModel)]="this.curso.investimento"
        #investimento="ngModel"
        required>
        <label for="input_investimento" class="active">Investimento</label>
        <div class="red-text" [hidden]="investimento.valid || investimento.untouched">
          O campo investimento é obrigatório
        </div>
      </div>
    </div>

    <button id="cor-button"
    class="btn waves-effect"
    type="submit" [disabled]="!form.valid"
    >{{name_button}}
    <a routerLink="/"></a>
  </button>

  </form>
</div>
</div>

</div>
